@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

/*
*  html5resetcss
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
  position:absolute;
	height: 100vh;
  width:100vw;
  overflow-y:auto;
  overflow-x: hidden;
  cursor:default;
}


.WebContainer{
  width: 100vw;
  height: 300vh;
}

.articles{
  width:90%; /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
} 

.nav-bar{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: fixed;
  background-color: #ffffff93;
  padding: 15px 15px;
  height: 15px;
  z-index: 3; 
}

.logo img{width: 40px;
margin: auto;}
.menu {display: flex;}
.menu li {padding-left: 30px;}

.menu li a {
  font-family: 'Lora';
  color: #000;
  text-decoration: none;
  font-size: clamp(8px, 4vw, 20px);
  display: inline-block;
  text-align: center;
  transition: 0.5s ease-in-out;
  position: relative;
  text-transform:uppercase;
  float: left;
}

.menu li a::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00005700;
  transition: 0.25s ease-in-out;
}

.menu li a:hover:after {width: 100%;}
.open-menu, .close-menu{
  position: absolute;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  display: none;
}

.open-menu{
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
}

.close-menu{
  top: 20px;
  right: 60px;
}

#check {display: none;}

@media(max-width: 667px){
  .menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    transition: all 3s ease-in-out;
  }

  .menu li {margin-top: 30px;}
  .menu li a{padding: 5px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}



/* ------------------------------------------------------------------------------------ */

.Abstract {
  max-width: 20rem;
  height: auto;
  background: transparent;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  float: left;
  position: relative;
  top: -50px;
  margin-bottom: 100px;
  margin-right: 20px;
  display: flex;
}

.forest {
  width: 100vw;
  float: left;
  height: 150vh;
  background-color: #ff000000;
  position: relative;
  margin-top: 50px;
}

.forest img {
  position: sticky;
  top: 80px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 75%;
  height: auto;
  left: 195px;
}

@media (max-width: 786px) {
  .forest{
    width: 100vw;
    float: left;
    height: 120vh;
    margin: 20px auto 20px 20px;
    position: relative;
    left: -75px;
  }
  .forest img {
    margin-top: 50px;
  }
}


/* ------------------------------------------------------------------------------------ */

.whitespace1{
  width:100vw;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0);
  z-index: 0;
  position: absolute;
}



/*
#leftbox {
  float:left;
  background:rgba(255, 255, 255, 0.117);
  width:25%;
  height: 100vh;
}
#middlebox{
  float:left;
  background:rgba(255, 255, 255, 0.2);
  width:50%;
  height: 100vh;
}
#rightbox{
  float:right;
  background:rgba(255, 255, 255, 0.114);
  width:25%;
  height: 100vh;
}
*/



/*
@font-face {
    font-family: 'Argesta';
    src: url('../../content/Fonts/ArgestaText-Regular.otf')format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
*/
/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgb(215, 214, 215);
  --color-text: 	rgba(255, 255, 255, 0.4);
  --color-text-link:rgb(17, 18, 90) ;
  --color-text-link-hover: rgb(93, 146, 28);
  /* Font settings */
  --font-family: 'Inter';
  --font-size: 35px;
  /* Margins settings */
  --margin: 1rem;
}

body::-webkit-scrollbar{
  display: none;
}

.Backgroundtest{
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: -1;
  opacity: 30%;
  right: 50px;
}

.footnote {
  font-size: 0.6em; /* or any other desired size */
  margin-left: 0.3em; /* or any other desired spacing */
  font-family: 'Lora';
  font-weight: 400;
  color: rgb(17, 18, 90);
}
/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}



div.is-background-gradient{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(86, 86, 86) 100%);
  animation: gradient 3s alternate-reverse ease-in-out infinite;
  display: -webkit-box;
  overflow:hidden;
  z-index: -2;
}

@keyframes gradient {
	0% {
    transform:scale(1);
	}
	100% {
    transform:scale(2);
	}
}

ul, #myUL {
  list-style-type: square;
  list-style-position: inside; 
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

*/
a {
  color: rgb(18, 78, 190);
  text-decoration: none;
}

a:hover {
  cursor:pointer;
  mix-blend-mode:luminosity;
  color: rgba(17, 255, 0, 0.533);
  text-decoration: none;
}

a:focus-visible {
  color: greenyellow;
  text-decoration: none;
}

.link1{
  font-size: clamp(6px, 3vw, 10px);
  color: azure;
  position: relative;
  text-indent: 0;
  padding: 2px;
  line-height: 15px;
  font-family: 'Lora';
  font-weight: 400;
}

/* ------------------------------------------------------------------------------------ */

.Aliens {
  margin: auto;
  position: relative;
  z-index: 1;
  width: 60%; 
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: fill;
} 

.Aliens video {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: contain;
}

@media (max-width: 767px){
  .Aliens {
    width: 90%;
    height: 200px;
    border-radius: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .Aliens video {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* ------------------------------------------------------------------------------------ */
/* INTRODUCTION*/

.introduction::-webkit-scrollbar {
  display: none;
}

.introduction{
  max-width: 20rem;
  height: 30rem;
  background: transparent;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: right;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 20px;
  display: flex;
}

.image12{
  width: 50%;
  float: left;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 10px;
  z-index: 0;

}

.image12 img {
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 767px) {
    .image12 {
      width: 100vw;
      float: left;
      height: 120vh;
      margin: 20px auto 20px 20px;
      position: relative;
      right: 20px;
    
    }
  
    .image12 img {
      margin-top: 50px;
    }
  }

/* ------------------------------------------------------------------------------------ */
/* CHAPTER1*/

.Chapter1::-webkit-scrollbar{
  display: none;
}

.Chapter1{
  max-width: 20rem;
  height: 30rem;
  background-color: #a4a4a400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: left;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  box-shadow: #000000;
}

.LordOfTheRings{
  width: 60%; 
  height: auto;
  margin: auto;
  position: relative; 
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  background-color: black;
}

.LordOfTheRings video {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: fill;
}

@media (max-width: 767px){
  .LordOfTheRings {
    width: 90%;
    height: 200px;
    border-radius: 0;
  margin: auto;
    border-radius: 50%;
  }
  .LordOfTheRings video {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: fill;
    top: 3px;
  }
}

/*END CHAPTER*/


.image13{
  width: 50%;
  float: right;
  height: 30rem;
  background-color: #000000;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image2{
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.Pmon{
  width: 50%;
  float: left;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 20px;
  z-index: 0;
}

.Pmon img {
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 768px) {
  .Pmon {
    width: 100vw;
    float: left;
    height: 120vh;
    margin: 20px auto 20px 20px;
    position: relative;
    right: 20px;
  
  }

  .Pmon img {
    margin-top: 50px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------*/


.Pmon2{
  width: 50%;
  float: left;
  height: 18rem;
  background-color: #88888800;
  position: relative;
  margin-bottom: 200px;
  margin-left: 20px;
  z-index: 0;
}

.Pmon2 img {
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 768px) {
    .Pmon2 {
      width: 100vw;
      float: left;
      height: 120vh;
      margin: 20px auto 20px 20px;
      position: relative;
      right: 20px;
    
    }
  
    .Pmon2 img {
      margin-top: 50px;
    }
  }

/*-----------------------------------------------------------------------------------------------------------------*/


.HumanTree{
  max-width: 20rem;
  height: 18rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  float: right;
  position: relative;
  margin-bottom: 200px;
  margin-right: 20px;
  display: flex;
}

/*-----------------------------------------------------------------------------*/

.Prome{
  width: 60%; 
  height: auto;
  margin: auto;
  position: relative; 
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  background-color: black;
}

.Prome video{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: fill;
}

@media (max-width: 767px){
  .Prome {
    width: 90%;
    height: 200px;
    border-radius: 0;
    margin-left: 25px;
    margin-right: 0;
    border-radius: 50%;
  }
  .Prome video {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: fill;
    top: 3px;
  }
}

/*-----------------------------------------------------------------------------*/

.Forevergreens::-webkit-scrollbar{
  display: none;
}

.Forevergreens{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: left;
  margin-left: 20px;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
}

/*-----------------------------------------------------------------------------*/

.tree3{
  width: 50%;
  float: right;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 20px;
  z-index: 0;
}

.tree3 img{
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 768px) {
  .tree3 {
    width: 100vw;
    float: left;
    height: 120vh;
    margin: 20px auto 20px 20px;
    position: relative;
    right: 20px;
  
  }

  .tree3 img {
    margin-top: 50px;
  }
}



/*-----------------------------------------------------------------------------*/

.Datepalms{
  width: 60%; 
  height: auto;
  margin: auto;
  position: relative; 
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  background-color: black;
}

.Datepalms video{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: fill;
}

@media (max-width: 767px){
  .Datepalms {
    width: 90%;
    height: 200px;
    border-radius: 0;
    margin-left: 25px;
    margin-right: 0;
    border-radius: 50%;
  }
  .Datepalms video  {
    width: 120%;
    height: 120%;
    border-radius: 0;
    object-fit: fill;
    top: -20px;
  }
}

/*-----------------------------------------------------------------------------*/

.Dune::-webkit-scrollbar{
  display: none;
}

.Dune{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: right;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 20px;
  display: flex;
}

/*-----------------------------------------------------------------------------*/

.Bonsai::-webkit-scrollbar{
  display: none;
}

.Bonsai{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: left;
  position: relative;
  margin-top: 200px;
  margin-left: 20px;
  margin-bottom: 200px;
  display: flex;
}

.TheSkinI{
  width: 60%; 
  height: auto;
  margin: auto;
  position: relative; 
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  background-color: black;
}

.TheSkinI video{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: fill;
}

.Theskin::-webkit-scrollbar{
  display: none;
}

.Theskin{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: left;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 767px){
  .TheSkinI {
    width: 90%;
    height: 200px;
    border-radius: 0;
    margin-left: 25px;
    margin-right: 0;
    border-radius: 50%;
  }
  .TheSkinI video {
    width: 120%;
    height: 120%;
    border-radius: 0;
    object-fit: fill;
    top: -20px;
  }
}

/* ------------------------------------------------------------------------------------ */

.Aworld{
  width: 50%;
  float: left;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 10px;
  z-index: 0;
}

.Aworld img{
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 768px) {
  .Aworld {
    width: 100vw;
    float: left;
    height: 120vh;
    margin: 20px auto 20px 20px;
    position: relative;
    right: 20px;
  
  }

  .Aworld img {
    margin-top: 50px;
  }
}
/*----------------------------------------------------------------------------------------------*/

.Dunes{
  width: 50%;
  float: left;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 20px;
  z-index: 0;
}

.Dunes img{
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 768px) {
  .Dunes {
    width: 100vw;
    float: left;
    height: 120vh;
    margin: 20px auto 20px 20px;
    position: relative;
    right: 20px;
  
  }

  .Dunes img {
    margin-top: 50px;
  }
}

/*----------------------------------------------------------------------------------------------*/

.Bladerunner{
  width: 60%; 
  height: auto;
  margin: auto;
  position: relative; 
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  background-color: black;
}

.Bladerunner video{
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: fill;
}

@media (max-width: 767px){
  .Bladerunner {
    width: 90%;
    height: auto;
    border-radius: 0;
    margin-left: 25px;
    margin-right: 0;
    border-radius: 50%;
  }
  .Bladerunner video {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: fill;
    top: 3px;
  }
}

.Annihilation::-webkit-scrollbar{
  display: none;
}

.Annihilation{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: left;
  position: relative;
  margin-top: 200px;
  margin-bottom: 20px;
  display: flex;
}

.Annihilations{
  width: 50%;
  float: left;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 200px;
  margin-bottom: 20px;
  margin-left: 10px;
  z-index: 0;
}

.Annihilations img{
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

@media (max-width: 768px) {
  .Annihilations {
    width: 100vw;
    float: left;
    height: 120vh;
    margin: 20px auto 20px 20px;
    position: relative;
    right: 20px;
  
  }

  .Annihilations img {
    margin-top: 50px;
  }
}

/*-------------------------------------------------------------------------------------*/
.Searching::-webkit-scrollbar{
  display: none;
}

.Searching{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: right;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.Searchings{
  width: 50%;
  float: right;
  height: 30rem;
  background-color: #88888800;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  z-index: 0;
}

.Searchings img{
  position: sticky;
  top: 50px; /* set the top boundary */
  bottom: 200px; /* set the bottom boundary */
  max-width: 100%;
}

/*
.Searching2{
  width: 50%;
  float: left;
  height: 30rem;
  background-color: #d4ff008b;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}*/

.bib::-webkit-scrollbar{
  display: none;
}

.bib{
  max-width: 20rem;
  height: 30rem;
  background-color: #ff000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:scroll;
  float: right;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.end{
  float: left;
  width: 100%;
  height: 5rem;
  background-color: #ff000000;
  position: relative;
}



@media (max-width: 767px){
  .introduction, .Chapter1, .Chapter3, .HumanTree, .Chapter3, .Dune, .Prometheus, .Forevergreens, .Bonsai,
  .Pro, .Searchings, .Searching, .Annihilation, .Theskin, .Searching2, .bib, .end, .image13, .Roots_forevergreens {
    float: left; 
    width: 100vw;
    margin-bottom: 20px;
    position: relative;
    margin-left: 0;
    margin-right:0;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}




h1{
  /* h1 style */
  font-family: 'Baskervville', serif;
  font-weight: 400;
  font-size: clamp(20px, 4vw, 100px);
  color: rgb(101, 101, 101);
  word-spacing: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top:20px;
  writing-mode: vertical-lr;
}

h2{
  padding-top: 40px; 
  font-family: 'PT Serif', serif;
  letter-spacing: auto;
  word-spacing: auto;
  margin-left: 20px;
  margin-right: 20;
  font-size: clamp(20px, 6vw, 300px);
  inline-size: 150px;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  margin-top:20px;
} 

h3{
  font-family: 'Lora';
  font-weight: 400;
  color: #5f5f5f;
  margin-left: 5vw;
  margin-right: 5svw;
  font-size: 13px;
  text-indent: 1vw;
  margin-left: 5vw;
  margin-top:3vh;
  margin-right: 5vw;
  margin-bottom: 10px;
  line-height: 15px;
  word-spacing: auto;
  letter-spacing: 0px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 14px;
  }
}

h4{
font-family: 'PT Serif', serif;
color:#2200ff;
font-size: 8px;
font-weight: 400;
}

h5{
margin-left: 10vw;
margin-right: 10vw;
font-size: clamp(1rem, 1.03rem + 15.8vw, 23rem);
  /* h4-h5-h6 style */
}

h6{
  color: rgb(93, 146, 28);
  font-family: 'Zeyada', cursive;
  font-size: clamp(10px, 3vw, 15px);
  display:block;
  /* h4-h5-h6 style */
}

@media (min-width: 767px){
  .section {
    display: flex;
    flex-direction: row-reverse;
  }
  .section.reverse {
    flex-direction: row;
  }
  .section figure{
    margin: 1em;
    flex: 1;
  }
  .section p {
    flex: 2;
  }
  .p {
    width: 100%;
  }
}


p{
  /* paragraph style */
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
background-color:#00000000;
}



/* navigation */
 
nav{
  
}

/* content */

main{
 
 
}

summary{
  
}

footer {
  position: relative;
  font-family: 'Inter';

}

/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.wrapper{
  position: absolute;
  z-index: 2;
  top: 30vw;
  left: 50vw;
}


.cube {
  transform-style: preserve-3d;
  transition: 0.4s;
  transform: rotateX(36deg) rotateY(-131deg);
}

/* Adjust the size of the cube for smaller screens */




.face1, .face2, .face3, .face4, .face5, .face6{
  width: 7.5em;
  height: 7.5em;
  transition: 0.4s;
  position: absolute;
}

.face1{
  background: #eeeeee00;
  transform: rotateX(90deg);
  transform-origin: bottom;
}


.face2{
  background: #18181800;
}

.face3{
  background:#19d4da00 ;
  transform: rotateY(90deg);
  transform-origin: left;
}

.face4{
  background: #373a4000;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.face5{
  background: #686d7600;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.face6{
  background: #1dd6a800;
  transform: translate3d(0, 0, -7.5em);
}

@media (max-width: 768px) {
  .face1, .face2, .face3, .face4, .face5, .face6 {
    width: 5em;
  }
}

@media (max-width: 768px) {
  .wrapper{
    top: 100vw;
  }
}


span.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.displayMe{
  max-width: 250px;
  max-height: 250px;
  position: fixed;
  z-index: 100;
}

.displayMe img {
  width: 100%;
  box-shadow: 1px 1px 2px;
}


a {
  color:rgb(17, 18, 90);
}




